.e-event-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    
}

.e-title {
    margin: 16px 0 16px 8px;
    font-size: 3rem;
    color: var(--black);
}