.landing-body {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.landing-title {
    font-size: 4rem;
    color: var(--blue);
    text-shadow: var(--black) -3px -3px;
    text-align: center;
}

.landing-subtitle {
    color: var(--black);
    text-align: center;
    font-size: 1.25rem;
}

.landing-button {
    width: 12em;
    height: 4em;
    border-radius: 10px;
    border: none;
    background-color: var(--blue);
}

.landing-button p {
    color: var(--white);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.landing-calendar-picture {
    width: 80%;
}