.login-body {
    height: 100vh;
    width: 100%;
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.login-body h1, p {
    color: var(--black);
}

.login-name {
    font-size: 3rem;
    height: 20%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: end;
    color: var(--blue) !important;
    text-shadow: var(--black) -3px -3px;
    font-weight: 800;
}

.login-title {
    font-size: 1.5rem;
    height: 10%;
    width: 90%;
    display: flex;
    align-items: end;
}

.login-credentials {
    height: fit-content;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.login-username-field, .login-password-field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
    align-items: start;
}

.login-username-field p, .login-password-field p {
    font-size: 1rem;
}

.login-username-field input, .login-password-field input {
    font-size: 1.2rem;
    width: calc(100% - 34px);
    height: 40px;
    border: 2px solid var(--gray);
    background-color: var(--white);
    color: var(--black);
    padding: 0 15px 2px 15px;
    border-radius: 8px;
    outline: none;
    transition: border 0.2s ease-in-out;
}

.login-username-field input:focus, .login-password-field input:focus {
    border: 2px solid var(--blue);
}

.login-signup {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-signup a {
    color: var(--blue);
    text-decoration: none;
}