.e-outertile {
    width: 90%;
    height: 128px;
    background-color: var(--black);
    border-radius: 10px;
    padding: 8px;
    position: relative;
    text-decoration: none;
}

.e-outertile h2 {
    color: var(--white);

}

.e-outertile button {
    position: absolute;
    right: 16px;
    width: 40%;
    height: 40%;
    border-radius: 10px;
    border: none;
    background-color: var(--blue);
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 600;
}