.c-navbar-row {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.c-website-name {
  color: var(--blue);
  text-shadow: var(--black) -3px -3px;
  font-weight: 800;
  font-size: 2.2rem;
}

.c-nav-bar-burger {
  width: 40px;
  aspect-ratio: 1/1;
  top: 10px;
  left: 10px;
}

.c-navbar-body-mobile {
    position: relative;
}