.c-select-time,::picker(select) {
    appearance: base-select;
}

.c-select-time::picker-icon {
    color: var(--blue);
    transition: 0.4s rotate;
}

.c-select-time:open::picker-icon {
    rotate: 180deg;
}

.c-select-time {
    border: none;
    background-color: var(--white);
    font-size: 1.25rem;
    font-family: 'inter', sans-serif;
    transition: 0.4s;
    
}

.c-select-time:hover, .c-select-time:focus {
    background-color: #b3b3b3;
}

.c-select-time option {
    display: flex;
    justify-content: flex-start;
    padding: 4px;
    gap: 10px;
    font-size: 1.125rem;
}

.c-select-time option:first-of-type {
    border-radius: 8px 8px 0 0;
}

.c-select-time option:last-of-type {
    border-radius: 0 0 8px 8px;
}

@starting-style {
  ::picker(select):popover-open {
    opacity: 0;
  }
}

::picker(select) {
    border-radius: 8px;
    opacity: 0;
    transition: all 0.4s allow-discrete;
}

::picker(select):popover-open {
  opacity: 1;
}


.c-select-time option:not(option:last-of-type) {
    border-bottom: none;
}

.c-select-time option:nth-of-type(odd) {
    background-color: #eeeeee;
}

.c-select-time option:hover, .c-select-time option:focus {
    background: var(--blue);
}

.c-select-time option::checkmark {
  order: 1;
  margin-left: auto;
  content: none;
}