.c-submit-button-container {
    display: flex;
    justify-content: center;
}

.c-submit-button {
    min-width: 44px;
    min-height: 44px;
    width: 95%;
    border-radius: 10px;
    border: none;
    background-color: var(--blue);
    color: var(--white);
    transition: all 0.2s ease-in-out;
    font-size: 1.5rem;
    font-weight: 700;
}

.c-submit-button:active {
    background-color: var(--blue);
    color: var(--white);
}

@media screen and (min-width: 992px) {
    .c-submit-button:hover {
        background-color: var(--blue);
        color: var(--white);
    }
}